body{
    background-color: #232323;
}
h1{
    color: cornsilk;
    text-align: center;
}
.square{
    display: block;
    float: left;
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    background-color: cadetblue;
    margin: 1%;
    border-radius: 25%;
}
.container{
    width: 900px;
    margin: 0 auto;
}

#menu{    
    background-color: rgb(43, 4, 153);
    height: 70px;
    text-align: center;
    padding: 1%;
}
#display {
    font-size: 40px;
    color: cornsilk;
    text-align: center;
    margin: 0px auto;
}
